# Regular expressions

- sequence of characters that forms a search pattern
- used to check if string contains specified search pattern

### Metacharacters

- [],*,+ etc.

### 1. findall()
return a list containing all matches

In [1]:
import re
txt="The rain in spain"
re.findall("ai",txt)

['ai', 'ai']

In [2]:
import re
txt="The rain in spain"
re.findall("[arn]",txt)

['r', 'a', 'n', 'n', 'a', 'n']

In [3]:
import re
txt="The rain in spain"
re.findall("[^arn]",txt)

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 's', 'p', 'i']

In [9]:
import re
txt="The rain in spain"
re.findall("[a_n]",txt)

['a', 'n', 'n', 'a', 'n']

In [10]:
import re
txt="The rain in spain"
re.findall("[a-n]",txt)

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']

In [4]:
import re
txt="The rain in spain"
re.findall("paris",txt)

[]

In [5]:
import re
txt='That will be 59 dollars'
re.findall('\d',txt)

['5', '9']

In [6]:
import re
txt='That will be 59 dollars'
re.findall('\d+',txt)

['59']

In [7]:
import re
txt='That will be 59 dollars 123*7464'
re.findall('\d+',txt)

['59', '123', '7464']

In [14]:
import re
txt='hello planet helo'
re.findall('he..o',txt)

['hello']

In [15]:
import re
txt='hello planet helo'
re.findall('he.o',txt)

['helo']

In [16]:
import re
txt='hello planet helo'
re.findall('^hello',txt)

['hello']

In [17]:
import re
txt='hello planet helo'
re.findall('[^hello]',txt)

[' ', 'p', 'a', 'n', 't', ' ']

In [20]:
import re
txt='hello planet helo'
re.findall('planet$',txt)

[]

In [21]:
import re
txt="hello hellar"
re.findall("hell.*o",txt)

['hello']

In [22]:
import re
txt="hello hellar"
re.findall("hell.+o",txt)

[]

In [24]:
import re
txt="hello helo heo planet"
re.findall("he.?o",txt)

['helo', 'heo']

In [28]:
import re
txt="hello helo heo planet"
re.findall("he.{2}o",txt)

['hello']

In [30]:
import re
txt="the rain in spain is mainly in plain"
re.findall("spain|plain",txt)

['spain', 'plain']

In [31]:
import re
txt="8 times before 11:45 AM"
re.findall("[0-9]",txt)

['8', '1', '1', '4', '5']

In [32]:
import re
txt="8 times before 11:45 AM"
re.findall("[0-5][0-9]",txt)

['11', '45']

### 2. search()

In [33]:
import re
txt='The rain in spain'
x=re.search("\s",txt)
print(x)
print(x.span())
print(x.start())
print(x.end())

<re.Match object; span=(3, 4), match=' '>
(3, 4)
3
4

In [34]:
import re
txt='The                   rain in spain'
x=re.search("\s",txt)
print(x)
print(x.span())
print(x.start())
print(x.end())

<re.Match object; span=(3, 4), match=' '>
(3, 4)
3
4

In [35]:
import re
txt='The rain in spain'
x=re.search("\s+",txt)
print(x)
print(x.span())
print(x.start())
print(x.end())

<re.Match object; span=(3, 4), match=' '>
(3, 4)
3
4

### 3. span()

In [36]:
import re
txt='The                              rain in spain'
x=re.search("\s+",txt)
print(x)
print(x.span())
print(x.start())
print(x.end())

<re.Match object; span=(3, 33), match='                              '>
(3, 33)
3
33

In [37]:
import re
txt='no 7786 spain'
x=re.search("\d",txt)
print(x.span())

(3, 4)

In [40]:
import re
txt='no 7786 spain'
x=re.search("\d+",txt)
print(x.span())

(3, 7)

### 4. split()

In [41]:
import re 
txt="The rain in spain"
x=re.split("\s",txt)
print(x)

['The', 'rain', 'in', 'spain']

In [42]:
import re 
txt="The rain in spain"
x=re.split("\s",txt,2) # max split parameter at last
print(x)

['The', 'rain', 'in spain']

In [44]:
import re 
txt="The rain in spain"
x=re.split("\s",txt,0) # max split parameter at last
print(x)

['The', 'rain', 'in', 'spain']

In [45]:
import re 
txt="The rain in spain"
x=re.split("\s",txt,1) # max split parameter at last
print(x)

['The', 'rain in spain']

In [51]:
import re 
txt="the_quick_brown@fox#"
x=re.split("[a-zA-Z]+",txt) 
print(x)

['', '_', '_', '@', '#']

In [52]:
import re 
txt="the_quick_brown@fox"
x=re.split("[a-zA-Z]+",txt) 
print(x)

['', '_', '_', '@', '']

In [53]:
import re 
txt="the_quick_brown@fox#"
x=re.split("\s+\w+\s",txt) 
print(x)

['the_quick_brown@fox#']

In [54]:
import re 
txt="the quick brown fox jumps over the lazy dog"
x=re.split("\s+\w+\s",txt) 
print(x)

['the', 'brown', 'jumps', 'the', 'dog']

In [55]:
import re 
txt="Twelve: 12 Eighty Nine:89"
x=re.split("\d+",txt) 
print(x)

['Twelve: ', ' Eighty Nine:', '']

### 5. sub()

In [56]:
import re

txt="The rain in spain"
re.sub("is","a",txt,2)

'The rain in spain'

In [58]:
import re

txt="The rain in                      spain"
re.sub("\s+"," ",txt)

'The rain in spain'