In [1]:
import pandas as pd

bwd=pd.read_csv("bollywood.csv")
bwd[bwd['lead']=="Vicky Kaushal"]

                       movie           lead
0   Uri: The Surgical Strike  Vicky Kaushal
86      Love per Square Foot  Vicky Kaushal

In [2]:
print(bwd)

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [4]:
bwd[bwd['movie']=='Kaante']['lead']

1494    Amitabh Bachchan
Name: lead, dtype: object

In [5]:
import pandas as pd
mov=pd.read_csv("movies.csv")
print(mov)

                                   title_x     imdb_id  \
0                 Uri: The Surgical Strike   tt8291224
1                            Battalion 609   tt9472208
2     The Accidental Prime Minister (film)   tt6986710
3                          Why Cheat India   tt8108208
4                          Evening Shadows   tt6028796
...                                    ...         ...
1624                 Tera Mera Saath Rahen   tt0301250
1625                  Yeh Zindagi Ka Safar   tt0298607
1626                       Sabse Bada Sukh   tt0069204
1627                                 Daaka  tt10833860
1628                              Humsafar   tt2403201

                                            poster_path  \
0     https://upload.wikimedia.org/wikipedia/en/thum...
1                                                   NaN
2     https://upload.wikimedia.org/wikipedia/en/thum...
3     https://upload.wikimedia.org/wikipedia/en/thum...
4                                                   NaN
...                                                 ...
1624  https://upload.wikimedia.org/wikipedia/en/2/2b...
1625  https://upload.wikimedia.org/wikipedia/en/thum...
1626                                                NaN
1627  https://upload.wikimedia.org/wikipedia/en/thum...
1628  https://upload.wikimedia.org/wikipedia/en/thum...

                                              wiki_link  \
0     https://en.wikipedia.org/wiki/Uri:_The_Surgica...
1           https://en.wikipedia.org/wiki/Battalion_609
2     https://en.wikipedia.org/wiki/The_Accidental_P...
3         https://en.wikipedia.org/wiki/Why_Cheat_India
4         https://en.wikipedia.org/wiki/Evening_Shadows
...                                                 ...
1624  https://en.wikipedia.org/wiki/Tera_Mera_Saath_...
1625  https://en.wikipedia.org/wiki/Yeh_Zindagi_Ka_S...
1626      https://en.wikipedia.org/wiki/Sabse_Bada_Sukh
1627                https://en.wikipedia.org/wiki/Daaka
1628             https://en.wikipedia.org/wiki/Humsafar

                            title_y                 original_title  is_adult  \
0          Uri: The Surgical Strike       Uri: The Surgical Strike         0
1                     Battalion 609                  Battalion 609         0
2     The Accidental Prime Minister  The Accidental Prime Minister         0
3                   Why Cheat India                Why Cheat India         0
4                   Evening Shadows                Evening Shadows         0
...                             ...                            ...       ...
1624          Tera Mera Saath Rahen          Tera Mera Saath Rahen         0
1625           Yeh Zindagi Ka Safar           Yeh Zindagi Ka Safar         0
1626                Sabse Bada Sukh                Sabse Bada Sukh         0
1627                          Daaka                          Daaka         0
1628                       Humsafar                       Humsafar         0

      year_of_release runtime            genres  imdb_rating  imdb_votes  \
0                2019     138  Action|Drama|War          8.4       35112
1                2019     131               War          4.1          73
2                2019     112   Biography|Drama          6.1        5549
3                2019     121       Crime|Drama          6.0        1891
4                2018     102             Drama          7.3         280
...               ...     ...               ...          ...         ...
1624             2001     148             Drama          4.9         278
1625             2001     146             Drama          3.0         133
1626             2018      \N      Comedy|Drama          6.1          13
1627             2019     136            Action          7.4          38
1628             2011      35     Drama|Romance          9.0        2968

                                                  story  \
0     Divided over five chapters  the film chronicle...
1     The story revolves around a cricket match betw...
2     Based on the memoir by Indian policy analyst S...
3     The movie focuses on existing malpractices in ...
4     While gay rights and marriage equality has bee...
...                                                 ...
1624  Raj Dixit lives with his younger brother  Rahu...
1625  Hindi pop-star  Sarina Devan  lives a wealthy ...
1626  Village born Lalloo re-locates to Bombay  and ...
1627  Shinda tries robbing a bank so he can be wealt...
1628  Sara and Ashar are childhood friends who share...

                                                summary tagline  \
0     Indian army special forces execute a covert op...     NaN
1     The story of Battalion 609 revolves around a c...     NaN
2     Explores Manmohan Singh's tenure as the Prime ...     NaN
3     The movie focuses on existing malpractices in ...     NaN
4     Under the 'Evening Shadows'  truth often plays...     NaN
...                                                 ...     ...
1624  A man is torn between his handicapped brother ...     NaN
1625  A singer finds out she was adopted when the ed...     NaN
1626  Village born Lalloo re-locates to Bombay  and ...     NaN
1627  Shinda tries robbing a bank so he can be wealt...     NaN
1628  Ashar and Khirad are forced to get married due...     NaN

                                                 actors  \
0     Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
1     Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...
2     Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...
3     Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...
4     Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...
...                                                 ...
1624  Ajay Devgn|Sonali Bendre|Namrata Shirodkar|Pre...
1625  Ameesha Patel|Jimmy Sheirgill|Nafisa Ali|Gulsh...
1626  Vijay Arora|Asrani|Rajni Bala|Kumud Damle|Utpa...
1627                          Gippy Grewal|Zareen Khan|
1628                                        Fawad Khan|

            wins_nominations              release_date
0                     4 wins     11 January 2019 (USA)
1                        NaN   11 January 2019 (India)
2                        NaN     11 January 2019 (USA)
3                        NaN     18 January 2019 (USA)
4     17 wins & 1 nomination   11 January 2019 (India)
...                      ...                       ...
1624                     NaN   7 November 2001 (India)
1625                     NaN  16 November 2001 (India)
1626                     NaN                       NaN
1627                     NaN     1 November 2019 (USA)
1628                     NaN     TV Series (2011â€“2012)

[1629 rows x 18 columns]

In [11]:
# 2019 ma release thayeli movie ni list

# rel=mov[mov['year_of_release']==2019].count()
rel=mov[mov['year_of_release']==2019].shape[0]
print(rel)

75

In [6]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1629 entries, 0 to 1628
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1629 non-null   object
 1   imdb_id           1629 non-null   object
 2   poster_path       1526 non-null   object
 3   wiki_link         1629 non-null   object
 4   title_y           1629 non-null   object
 5   original_title    1629 non-null   object
 6   is_adult          1629 non-null   int64
 7   year_of_release   1629 non-null   int64
 8   runtime           1629 non-null   object
 9   genres            1629 non-null   object
 10  imdb_rating       1629 non-null   float64
 11  imdb_votes        1629 non-null   int64
 12  story             1609 non-null   object
 13  summary           1629 non-null   object
 14  tagline           557 non-null    object
 15  actors            1624 non-null   object
 16  wins_nominations  707 non-null    object
 17  release_date      1522 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 229.2+ KB

In [17]:
# movies released in 2019

# rel=mov[mov['year_of_release']==2019].shape[0] & mov[mov['imdb_rating']>=7].shape[0]
# print(rel)

73

In [19]:
# movies released in 2019

rel=mov[(mov['year_of_release']==2019) & (mov['imdb_rating']>=7)].shape[0]
print(rel)

27

In [21]:
# bwd[bwd['movie']=='Kaante']['lead']

vt=mov[mov['imdb_votes']>20000][['original_title','story','wiki_link']].count()

print(vt)

original_title    105
story             105
wiki_link         105
dtype: int64

In [23]:
# bwd[bwd['movie']=='Kaante']['lead']

vt1=mov[mov['imdb_votes']>20000][['original_title','story','wiki_link']]

print(vt1)
vt1.to_csv('mydata.csv',index=False)

                         original_title  \
0              Uri: The Surgical Strike
11                            Gully Boy
36                          Kabir Singh
74                          Dil Bechara
88                            Padmaavat
...                                 ...
1490                             Devdas
1565        Kabhi Khushi Kabhie Gham...
1567  Lagaan: Once Upon a Time in India
1568  Lagaan: Once Upon a Time in India
1571                     Dil Chahta Hai

                                                  story  \
0     Divided over five chapters  the film chronicle...
11    Gully Boy is a film about a 22-year-old boy "M...
36    This Sandeep Vanga directorial is a remake of ...
74              A love story about two cancer patients.
88    This fictional story is set in 13th century me...
...                                                 ...
1490  Devdas Mukherji is black-listed by his multi-m...
1565  Yashvardhan Raichand lives a very wealthy life...
1567  This is the story about the resilience shown b...
1568  This is the story about the resilience shown b...
1571  Three young men Akash  Sameer  and Siddharth a...

                                              wiki_link
0     https://en.wikipedia.org/wiki/Uri:_The_Surgica...
11              https://en.wikipedia.org/wiki/Gully_Boy
36            https://en.wikipedia.org/wiki/Kabir_Singh
74            https://en.wikipedia.org/wiki/Dil_Bechara
88              https://en.wikipedia.org/wiki/Padmaavat
...                                                 ...
1490  https://en.wikipedia.org/wiki/Devdas_(2002_Hin...
1565  https://en.wikipedia.org/wiki/Kabhi_Khushi_Kab...
1567               https://en.wikipedia.org/wiki/Lagaan
1568  https://en.wikipedia.org/wiki/Lagaan:_Once_Upo...
1571       https://en.wikipedia.org/wiki/Dil_Chahta_Hai

[105 rows x 3 columns]

In [32]:
# 2019 me release hui movies ko aise print karao => movie : date

rel=mov[mov['year_of_release']==2019]

for i in rel:
    print(mov[title]," : ",mov[release_date])

NameError: name 'title' is not defined

In [34]:
release=mov[mov['year_of_release']==2019]
release=release.reset_index(drop=True)
j=0
for i in release['original_title']:
    print(i," : ",release['release_date'][j])
    j+=1

Uri: The Surgical Strike  :  11 January 2019 (USA)
Battalion 609  :  11 January 2019 (India)
The Accidental Prime Minister  :  11 January 2019 (USA)
Why Cheat India  :  18 January 2019 (USA)
Fraud Saiyyan  :  18 January 2019 (India)
Bombairiya  :  18 January 2019 (India)
Manikarnika: The Queen of Jhansi  :  25 January 2019 (USA)
Thackeray  :  25 January 2019 (India)
Amavas  :  8 February 2019 (India)
Gully Boy  :  14 February 2019 (USA)
Hum chaar  :  15 February 2019 (India)
Total Dhamaal  :  22 February 2019 (India)
Sonchiriya  :  1 March 2019 (India)
Badla  :  8 March 2019 (India)
Photograph  :  17 May 2019 (USA)
Risknamaa  :  15 March 2019 (India)
22 Yards  :  15 March 2019 (India)
Kesari  :  21 March 2019 (USA)
Notebook  :  29 March 2019 (USA)
Junglee  :  29 March 2019 (USA)
Gone Kesh  :  29 March 2019 (India)
Albert Pinto Ko Gussa Kyun Aata Hai?  :  12 April 2019 (India)
The Tashkent Files  :  12 April 2019 (India)
Kalank  :  17 April 2019 (USA)
Setters  :  3 May 2019 (India)
Student of the Year 2  :  10 May 2019 (USA)
PM Narendra Modi  :  24 May 2019 (USA)
De De Pyaar De  :  17 May 2019 (USA)
India's Most Wanted  :  24 May 2019 (USA)
Khamoshi  :  14 June 2019 (India)
Kabir Singh  :  20 June 2019 (USA)
Article 15  :  28 June 2019 (USA)
One Day: Justice Delivered  :  5 July 2019 (India)
Hume Tumse Pyaar Kitna  :  5 July 2019 (India)
Super 30  :  12 July 2019 (USA)
Family of Thakurganj  :  19 July 2019 (India)
Batla House  :  15 August 2019 (USA)
Jhootha Kahin Ka  :  19 July 2019 (India)
Judgementall Hai Kya  :  26 July 2019 (USA)
Chicken Curry Law  :  9 August 2019 (India)
Arjun Patiala  :  26 July 2019 (USA)
Jabariya Jodi  :  9 August 2019 (USA)
Pranaam  :  nan
The Sky Is Pink  :  11 October 2019 (USA)
Mission Mangal  :  15 August 2019 (USA)
Saaho  :  30 August 2019 (USA)
Dream Girl  :  13 September 2019 (USA)
Section 375  :  13 September 2019 (USA)
The Zoya Factor  :  20 September 2019 (USA)
Pal Pal Dil Ke Paas  :  20 September 2019 (USA)
Prassthanam  :  20 September 2019 (USA)
P Se Pyaar F Se Faraar  :  18 October 2019 (India)
Ghost  :  18 October 2019 (India)
Bala  :  7 November 2019 (USA)
#Yaaram  :  nan
Housefull 4  :  25 October 2019 (USA)
Saand Ki Aankh  :  25 October 2019 (USA)
Made in China  :  25 October 2019 (USA)
Ujda Chaman  :  1 November 2019 (USA)
Bypass Road  :  8 November 2019 (USA)
Satellite Shankar  :  8 November 2019 (India)
Jhalki  :  nan
Marjaavaan  :  15 November 2019 (USA)
Motichoor Chaknachoor  :  15 November 2019 (USA)
Keep Safe Distance  :  nan
Pagalpanti  :  nan
Ramprasad Ki Tehrvi  :  nan
Yeh Saali Aashiqui  :  nan
Dil Bechara  :  nan
Pati Patni Aur Woh  :  nan
Commando 3  :  nan
Mardaani 2  :  nan
Dabangg 3  :  nan
Good Newwz  :  nan
Daaka  :  1 November 2019 (USA)

In [39]:
import pandas as pd

khl=pd.read_csv("kohli_ipl.csv",index_col='match_no',squeeze=True)
khl=khl.sort_values(ascending=True)
khl.tail(10)

match_no
160     84
178     90
145     92
81      93
82      99
164    100
120    100
123    108
126    109
128    113
Name: runs, dtype: int64

In [38]:
import pandas as pd

khl=pd.read_csv("kohli_ipl.csv",index_col='match_no',squeeze=True)
khl=khl.sort_values(ascending=True)
khl.head(10)

match_no
87     0
211    0
207    0
206    0
91     0
93     0
8      0
130    0
135    0
106    1
Name: runs, dtype: int64

In [44]:
khl[(khl.values>90) & (khl.values<100)]

match_no
145    92
81     93
82     99
Name: runs, dtype: int64

In [45]:
import pandas as pd 

ipl=pd.read_csv("ipl-matches.csv")
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [49]:
# 1. how many matches were super over?

ipl[ipl['SuperOver']=='Y'].shape[0]

14

In [51]:
# 2. how many matches won by toss winner of match

ipl[ipl['TossWinner']==ipl['WinningTeam']].shape[0]

489

In [53]:
# 3. how many matches csk at kolkata

ipl[(ipl['WinningTeam']=='Chennai Super Kings') & (ipl['City']=='Kolkata')]

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
224,1178404,Kolkata,2019-04-14,2019,29,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,Imran Tahir,"['CA Lynn', 'SP Narine', 'N Rana', 'RV Uthappa...","['SR Watson', 'F du Plessis', 'SK Raina', 'AT ...",CK Nandan,RJ Tucker
602,598022,Kolkata,2013-04-20,2013,26,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Wickets,4.0,NaN,RA Jadeja,"['G Gambhir', 'YK Pathan', 'JH Kallis', 'EJG M...","['MEK Hussey', 'R Ashwin', 'M Vijay', 'SK Rain...",Asad Rauf,AK Chaudhary
641,548368,Kolkata,2012-05-14,2012,63,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,field,N,Chennai Super Kings,Wickets,5.0,NaN,MEK Hussey,"['G Gambhir', 'BB McCullum', 'JH Kallis', 'MK ...","['MEK Hussey', 'M Vijay', 'SK Raina', 'F du Pl...",JD Cloete,SJA Taufel
827,419113,Kolkata,2010-03-16,2009/10,8,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Chennai Super Kings,bat,N,Chennai Super Kings,Runs,55.0,NaN,MS Dhoni,"['BJ Hodge', 'MK Tiwary', 'SC Ganguly', 'WP Sa...","['M Vijay', 'ML Hayden', 'SK Raina', 'S Badrin...",HDPK Dharmasena,AM Saheba
908,336025,Kolkata,2008-05-18,2007/08,41,Kolkata Knight Riders,Chennai Super Kings,Eden Gardens,Kolkata Knight Riders,bat,N,Chennai Super Kings,Runs,3.0,D/L,M Ntini,"['Salman Butt', 'Mohammad Hafeez', 'SC Ganguly...","['PA Patel', 'SP Fleming', 'S Vidyut', 'SK Rai...",Asad Rauf,K Hariharan

In [54]:
# in how many matches is HH Panya player of the match vs rajasthan royals

ipl[(ipl['Player_of_Match']=='HH Pandya') & ((ipl['Team1']=='Rajasthan Royals') | (ipl['Team2']=='Rajasthan Royals'))].shape[0]

2

In [57]:
# in how many matches gujarat titans won the toss and elected to bat and won the match

ipl[(ipl['WinningTeam']=='Gujarat Titans') & (ipl['TossWinner']=='Gujarat Titans') & (ipl['TossDecision']=='bat')].shape[0]

2

In [55]:
# how many matches gujarat titans played?

ipl[(ipl['Team1']=='Gujarat Titans') | (ipl['Team2']=='Gujarat Titans')].shape[0]

16

In [56]:
#  how many matches won by gt in superover?

ipl[(ipl['SuperOver']=='Y') & (ipl['WinningTeam']=='Gujarat Titans')].shape[0]

0

In [58]:
# which team won how many matches?

ipl['WinningTeam'].value_counts()

Mumbai Indians                 131
Chennai Super Kings            121
Kolkata Knight Riders          114
Royal Challengers Bangalore    109
Rajasthan Royals                96
Kings XI Punjab                 88
Sunrisers Hyderabad             75
Delhi Daredevils                67
Delhi Capitals                  36
Deccan Chargers                 29
Punjab Kings                    13
Gujarat Lions                   13
Gujarat Titans                  12
Pune Warriors                   12
Rising Pune Supergiant          10
Lucknow Super Giants             9
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: WinningTeam, dtype: int64