# Pandas (Panel data and python data analysis)

##### pandas series:
- series is like a column in table
- 1D array holding data of any type

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\ljeng\appdata\roaming\python\python38\site-packages (from pandas) (1.24.3)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

a=[1,7,1]

myvar=pd.Series(a)
print(myvar)

0    1
1    7
2    1
dtype: int64

In [3]:
import pandas as pd

a=[1,7,1]

myvar=pd.Series(a,index=['x','y','z'])
print(myvar)

x    1
y    7
z    1
dtype: int64

In [4]:
print(myvar[1])
myvar['y']

7

7

In [5]:
import pandas as pd

a=[1.4,'2',3,4]
myvar=pd.Series(a)
print(myvar)

0    1.4
1      2
2      3
3      4
dtype: object

In [7]:
import pandas as pd

a=[1.4,'2',3,4]
myvar=pd.Series(a,index=['x','y','z','j'])
print(myvar)

print(myvar[1])
myvar['x']

x    1.4
y      2
z      3
j      4
dtype: object
2

1.4

In [8]:
import pandas as pd

a=[1.4,'2',3,4]
student_name=['ram','shyam','radhe','sita']
myvar=pd.Series(a,index=student_name,name="result")
print(myvar.name)

result

In [9]:
import pandas as pd

calories={'days1':400,'days2':350,'days3':450}
myvar=pd.Series(calories,index=['days1','days2'])
print(myvar)

days1    400
days2    350
dtype: int64

In [14]:
import pandas as pd

marks={'ram':400,'shyam':350,'sita':450,'radha':682}
myvar=pd.Series(marks,index=['days1','days2'])
print(myvar)

days1   NaN
days2   NaN
dtype: float64

In [13]:
import pandas as pd

marks={'ram':400,'shyam':350,'sita':450,'radha':682}
var=pd.Series(marks,name='result')
print(var)

ram      400
shyam    350
sita     450
radha    682
Name: result, dtype: int64

### Series attributes

- size
- dtype
- name
- index
- values
- is_unique

In [17]:
import pandas as pd

marks={'ram':400,'shyam':350,'sita':350,'radha':682}
var=pd.Series(marks,name='result')
print(var.is_unique)
print(var.size)
print(var.name)
print(var.index)
print(var.values)
print(var.dtype)

False
4
result
Index(['ram', 'shyam', 'sita', 'radha'], dtype='object')
[400 350 350 682]
int64

In [33]:
import pandas as pd

subs= pd.read_csv("subs.csv")
print(subs)
print(type(subs)) # dataframe

print("\n\n==============\n\n")
subs.info() # works only with dataframe
print("\n\n==============\n\n")
subs.describe()

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>


==============


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 1 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Subscribers gained  365 non-null    int64
dtypes: int64(1)
memory usage: 3.0 KB


==============

       Subscribers gained
count          365.000000
mean           135.643836
std             62.675023
min             33.000000
25%             88.000000
50%            123.000000
75%            177.000000
max            396.000000

In [35]:
import pandas as pd

subs= pd.read_csv("subs.csv",squeeze=True)
print(subs)
print(type(subs)) # series

# squeeze -> applicable only for single column csv (converts dataframe to series)

subs.describe()

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>

count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64

In [37]:
import pandas as pd

subs= pd.read_csv("subs.csv",squeeze=True)
print(subs)
print(type(subs)) # series

print(subs.describe())

print(subs.min())
print(subs.max())
print(subs.median())
print(subs.sum())
# count() is function , size is attribute

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64
<class 'pandas.core.series.Series'>
count    365.000000
mean     135.643836
std       62.675023
min       33.000000
25%       88.000000
50%      123.000000
75%      177.000000
max      396.000000
Name: Subscribers gained, dtype: float64
33
396
123.0
49510

In [38]:
subs[subs>200]

165    225
166    249
167    265
168    306
169    261
170    222
225    224
226    254
227    214
228    236
229    261
230    247
231    207
232    254
233    301
234    233
240    202
246    259
248    213
249    210
252    216
275    228
276    237
277    276
279    290
280    295
281    245
282    241
283    267
284    269
285    211
287    206
288    202
290    236
291    222
292    203
312    230
318    244
324    243
325    227
326    259
330    396
331    312
332    268
333    229
337    221
338    225
339    221
340    202
344    276
345    258
346    219
347    212
351    220
354    204
358    210
359    209
360    231
361    226
Name: Subscribers gained, dtype: int64

In [40]:
subs[subs<200].count()

365

##### size is an attribute of series, doesn't work with dataframe,, count() is applicable with both

In [50]:
import pandas as pd

subs= pd.read_csv("subs.csv",squeeze=True)

subs[subs<200].size - subs[subs<=100].size # range [100,200)

181

In [49]:
import pandas as pd

subs= pd.read_csv("subs.csv") # dataframe without squeeze

subs[subs<200].size - subs[subs<=100].size

0

In [52]:
import pandas as pd

bw= pd.read_csv("bollywood.csv") # dataframe without squeeze
bw.info()
print(bw)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movie   1500 non-null   object
 1   lead    1500 non-null   object
dtypes: object(2)
memory usage: 23.6+ KB
                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [55]:
import pandas as pd

bw= pd.read_csv("bollywood.csv",index_col='movie',squeeze=True)
print(type(bw))

<class 'pandas.core.series.Series'>

In [56]:
import pandas as pd

bw= pd.read_csv("bollywood.csv",squeeze=True)
print(type(bw))

<class 'pandas.core.frame.DataFrame'>

In [57]:
bw.head(2)

                      movie           lead
0  Uri: The Surgical Strike  Vicky Kaushal
1             Battalion 609    Vicky Ahuja

In [59]:
bw.head(18)

                                   movie                  lead
0               Uri: The Surgical Strike         Vicky Kaushal
1                          Battalion 609           Vicky Ahuja
2   The Accidental Prime Minister (film)           Anupam Kher
3                        Why Cheat India         Emraan Hashmi
4                        Evening Shadows      Mona Ambegaonkar
5                            Soni (film)  Geetika Vidya Ohlyan
6                          Fraud Saiyaan          Arshad Warsi
7                             Bombairiya          Radhika Apte
8       Manikarnika: The Queen of Jhansi        Kangana Ranaut
9                       Thackeray (film)   Nawazuddin Siddiqui
10                                Amavas             Ali Asgar
11                             Gully Boy         Ranveer Singh
12                             Hum Chaar           Prit Kamani
13                         Total Dhamaal            Ajay Devgn
14                            Sonchiriya  Sushant Singh Rajput
15                     Badla (2019 film)      Amitabh Bachchan
16                Mard Ko Dard Nahi Hota      Abhimanyu Dasani
17                          Hamid (film)    Talha Arshad Reshi

In [60]:
bw[:5]

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar

In [61]:
bw[-5] # not possible...because dataframe

KeyError: -5

In [62]:
bw[-5:]

                       movie              lead
1495  Hum Tumhare Hain Sanam    Shah Rukh Khan
1496     Aankhen (2002 film)  Amitabh Bachchan
1497         Saathiya (film)      Vivek Oberoi
1498          Company (film)        Ajay Devgn
1499    Awara Paagal Deewana      Akshay Kumar

In [63]:
bw[::-1]

                                     movie              lead
1499                  Awara Paagal Deewana      Akshay Kumar
1498                        Company (film)        Ajay Devgn
1497                       Saathiya (film)      Vivek Oberoi
1496                   Aankhen (2002 film)  Amitabh Bachchan
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
...                                    ...               ...
4                          Evening Shadows  Mona Ambegaonkar
3                          Why Cheat India     Emraan Hashmi
2     The Accidental Prime Minister (film)       Anupam Kher
1                            Battalion 609       Vicky Ahuja
0                 Uri: The Surgical Strike     Vicky Kaushal

[1500 rows x 2 columns]

In [68]:
import pandas as pd

bw= pd.read_csv("bollywood.csv",index_col='movie',squeeze=True)
bw[[0]]

movie
Uri: The Surgical Strike    Vicky Kaushal
Name: lead, dtype: object

In [69]:
import pandas as pd

bw= pd.read_csv("bollywood.csv",index_col='movie',squeeze=True)
bw[0]

'Vicky Kaushal'

In [67]:
import pandas as pd

bw= pd.read_csv("bollywood.csv",index_col='movie',squeeze=True)
print(type(bw))
bw[[0,1,4,5,6]]

<class 'pandas.core.series.Series'>

movie
Uri: The Surgical Strike           Vicky Kaushal
Battalion 609                        Vicky Ahuja
Evening Shadows                 Mona Ambegaonkar
Soni (film)                 Geetika Vidya Ohlyan
Fraud Saiyaan                       Arshad Warsi
Name: lead, dtype: object

In [70]:
import pandas as pd

bw= pd.read_csv("bollywood.csv",index_col='movie',squeeze=True)
print(type(bw))
bw[0,1,4,5,6]

<class 'pandas.core.series.Series'>

TypeError: Cannot convert bool to numpy.ndarray

In [72]:
'2 states (2014 film)' in bw

False

In [73]:
import pandas as pd

bw= pd.read_csv("bollywood.csv",index_col='movie',squeeze=True)
print(bw[[5,10]])
"Alia Bhatt" in bw.values # true

movie
Soni (film)    Geetika Vidya Ohlyan
Amavas                    Ali Asgar
Name: lead, dtype: object

True

In [77]:
import pandas as pd

bw= pd.read_csv("bollywood.csv",index_col='movie',squeeze=True)
print(bw[[5,10]])
bw.value_counts()

movie
Soni (film)    Geetika Vidya Ohlyan
Amavas                    Ali Asgar
Name: lead, dtype: object

Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Deepika Amin         1
Vivek Sudershan      1
Reef Karim           1
Aahana Kumra         1
Jimmy Sharma         1
Name: lead, Length: 566, dtype: int64

In [79]:
import pandas as pd

bw= pd.read_csv("bollywood.csv",index_col='movie',squeeze=True)
print(bw[[5,10]])
print(bw.value_counts()>20) # actors with more than 20 movies

movie
Soni (film)    Geetika Vidya Ohlyan
Amavas                    Ali Asgar
Name: lead, dtype: object
Akshay Kumar         True
Amitabh Bachchan     True
Ajay Devgn           True
Salman Khan          True
Sanjay Dutt          True
                    ...
Deepika Amin        False
Vivek Sudershan     False
Reef Karim          False
Aahana Kumra        False
Jimmy Sharma        False
Name: lead, Length: 566, dtype: bool